
@font-face {
	font-family: 'Special';
	src: url('FontsFree-Net-Biome-W04-Bold.ttf') format('truetype');
 }

body {
    margin: 0;
    font-family: sans-serif;
    font-size: 10pt;
}

#imgLogo {
    height: 40pt;
    margin-left: 15pt;
    margin-top: 5pt;
    margin-bottom: 5pt;
}

#spanPageTitle {
    margin-left: 12pt;
    font-size: 45pt;
    font-family: serif;
    font-style: italic;
    white-space: nowrap;
}

#divPageHeader {
    height: 50pt;
    border-bottom: 4pt solid #b00c94;
}

@media screen and (max-width: 700px) {

    #imgLogo {
        display: none;
    }
    
    #spanPageTitle {
        margin-left: 0;
        text-align: center;
        font-size: 16pt;
    }

    #divPageHeader {
        height: 20pt;
        padding-top: 5pt;
        background: #8b0b75;
        color: white;
        text-align: center;
        font-weight: bold;
    }
}

img.coverBlamba {
    width: 150pt;
    height: 150pt;
    margin: 5pt;
}

div.coverBlockLabel {
    position: relative;
    left: 0pt;
    top: -130pt;
    max-width: fit-content;
    padding: 5pt;
    border-radius: 5pt;
    background: #f1ceebd7;
    font-family: Special;
    font-size: 10pt;
}

.coverBlock div {
    text-align: center;
}

div.coverBlock {
    display: inline-flex;
}

#divPageCover {
    display: inline-flexbox;
    text-align: center;
}


/* Form */

.form div {
    display: table-row;
}

.form div label {
    display: table-cell;
    padding-top: 5pt;
}

.form div span {
    display: table-cell;
    padding-top: 5pt;
    padding-left: 10pt;
}


/* Porducts */

img.productPic {
    height: 120pt;
    border-radius: 5pt;
}

/* Functional block */

h3.funcblockHeader {
    margin: 0;
}

.funcblockBody {
    margin-top: 10pt;
}

.funcblock {
    display: block;
    width: fit-content;
    margin-top:  15pt;
}


/* Subsection */

h2.subsectionHeader {
    margin-bottom: 0;
    padding-top: 15pt;
    color: #8b0b75;
    font-family: Special;
}

.subsectionColumn {
    display: inline-flex;
    flex-wrap: wrap;
    margin-right: 30pt;
}

.subsectionColumn:last-child {
    margin-right: 0pt;
    flex-direction: column;
}

.subsectionBody {
    display: inline-flexbox;
}

div.subsection {
    padding-left: 20pt;
    padding-right: 20pt;
    padding-bottom: 20pt;
    border-radius: 5pt;
}


/* Section */

.section {
    display: block;
}


/* Certain parts */

#divMatchCase {
    background: #f5f890;
}

#divRequestForContact {
    background-color: rgb(158, 227, 159);
}

#divTodayProposals {
    
    
}

#divCallToAction {
    display: block;
}

#divPageBody {
    max-width: calc(4.5*150pt);
    margin-left: auto;
    margin-top: 10pt;
    margin-right: auto;
}

#divPageFooter {
    height: 50pt;
    background-color: #8b0b75;
}